<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      Name:
      <input class="form-control" type="text" formControlName="name" required>
    </label>
  </div>

  <div>
    <label>
      Icon:
      <input type="file" formControlName="icon" accept="image/*" class="form-control" required>
    </label>
  </div>

  <div class="form-group" formGroupName="size">
    <label>
      <h5>Size:</h5>

      <div>
        <label>
          Type:
          <select class="form-control" formControlName="type">
            <option>input</option>
            <option>choose</option>
          </select>
        </label>
      </div>

      <div formArrayName="options">
        <label>Options:
          <div *ngFor="let picture of options.controls; let i=index">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-danger" type="button" (click)="removeOption(i)">x</button>
              </div>
              <input type="text" [formControlName]="i" class="form-control" required>
            </div>
          </div>
          <button (click)="addOption()" class="btn btn-primary">Add Option</button>
      </label>
      </div>
    </label>
  </div>

  <input type="submit" class="btn btn-primary" value="Add category"/>
  <p>
    Form Status: {{addCategoryForm.status}}
  </p>
  <p>
    Form Value: {{addCategoryForm.value | json}}
  </p>
</form>
