<div class="addProduct">
<h2 class="addProduct__title">Add product </h2>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()"  class="addProduct__form">
  <mat-form-field appearance="fill">
    <mat-label>
      Name:
    </mat-label>
    <input matInput type="text" formControlName="name" required>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>
      Price:
    </mat-label>
    <input matInput type="number" formControlName="price" required>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>
      Quantity in stock:
    </mat-label>
    <input matInput type="number" formControlName="quantityInStock" required>
  </mat-form-field>
  <br/>

  <mat-form-field appearance="fill">
    <mat-label>
      Category:
    </mat-label>
    <mat-select formControlName="category">
      <mat-option value="Shirt">Shirt</mat-option>
      <mat-option value="T-Shirt">T-Shirt</mat-option>
      <mat-option value="Shoes">Shoes</mat-option>
    </mat-select>
  </mat-form-field>

  <div formGroupName="params">
    <label><h5>Params:</h5></label>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>
        Size:
      </mat-label>
        <input matInput type="number" formControlName="size" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Color:</mat-label>
      <input matInput type="color" formControlName="color" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
      <mat-label>Season:</mat-label>
      <mat-select formControlName="season">
        <mat-option value="Spring">Spring</mat-option>
        <mat-option value="Summer">Summer</mat-option>
        <mat-option value="Autumn">Autumn</mat-option>
        <mat-option value="Winter">Winter</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div formGroupName="description">
    <label><h5>Description:</h5></label>
    <textarea class="form-control" formControlName="textDescription" required></textarea>
  </div>

  <button type="submit" mat-raised-button color="accent" [disabled]="!addProductForm.valid">Add product</button>
</form>
