<div class="center">
<h3 class="center_title">Registration</h3>

<form [formGroup]="profileForm" (ngSubmit)= "onSubmit()" class=profileForm>

  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput type="text" formControlName="firstName">
    <mat-error>First Name is <strong>required!</strong></mat-error>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" formControlName="lastName">
    <mat-error>Last Name is <strong>required!</strong></mat-error>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
    <mat-error>Email is <strong>required!</strong></mat-error>
  </mat-form-field>

  <div>
    <mat-form-field appearance="fill">
     <mat-label>Password</mat-label>
     <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>Password must containe at least <strong> 8 characters: number, lower case letter, upper case letter and special character! </strong></mat-error>
    </mat-form-field>
  </div>

   <div>
    <mat-form-field appearance="fill">
     <mat-label>Confirm password</mat-label>
     <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error>Wrong password!</mat-error>
    </mat-form-field>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input matInput type="tel" formControlName="phoneNumber">
    <mat-error>Phone Number is <strong>required!</strong></mat-error>
  </mat-form-field>

   <br>
 <mat-form-field color="accent" appearance="fill">
  <mat-label>Date of Birth</mat-label>
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp3" disabled formControlName="dateOfBirth">
  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
  <mat-datepicker #dp3 disabled="false"></mat-datepicker>
</mat-form-field>


<br>
<mat-checkbox required formControlName= "termsAgreement">I agree with Terms of Use and the Magic Shop Privacy Notice</mat-checkbox>

<br><br>
    <button mat-raised-button color="accent"(click)="onClickMe()">Create account!</button>
<br><br>
  </form>



