<mat-dialog-content class="mat-typography">

	<h2>Product added to cart!</h2>
	<p>What's next?</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Go to cart</button>
	<button mat-button mat-dialog-close cdkFocusInitial>Continue</button>
</mat-dialog-actions>
