<mat-card class="card">
	<!-- <img [src]="product.description.pictures" alt="Product image"> -->
	<mat-card-title>{{product.name}}</mat-card-title>
	<mat-card-subtitle>{{product.textDescription}}</mat-card-subtitle>
  <img mat-card-image [src]="img">
	<mat-card-subtitle>{{product.price}} PLN</mat-card-subtitle>

	<mat-card-actions>
    <button mat-button (click)="openDialog()">Add to cart</button>
    <button mat-button>Add to wish list</button>
  </mat-card-actions>
	<mat-card-content>Color: {{product.color}}</mat-card-content>


</mat-card>
