@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


.filterElement
	&__title
		text-align center
		font-family 'Roboto Mono', monospace
		color #616161
		margin 24px
	&__form
		display grid;
		grid-template-columns repeat(3, 1fr)
		column-gap 15px


.list
	position relative
	&__row
		display flex
		justify-content center
		flex-wrap wrap
