<div class="filterElement">
<h2 class="filterElement__title">Search products </h2>

<form [formGroup]="listFilterForm"  class="filterElement__form" >
	<mat-form-field appearance="fill">
		<mat-label>Title</mat-label>
		<input matInput type="text" formControlName="title">
	</mat-form-field>


	<mat-form-field appearance="fill">
		<mat-label>Size</mat-label>
			<mat-select	formControlName="size">
				<mat-option value="" mat-selected="mat-selected">Any size</mat-option>
				<mat-option value="s">S</mat-option>
				<mat-option value="m">M</mat-option>
				<mat-option value="l">L</mat-option>
				<mat-option value="xl">XL</mat-option>
				<mat-option value="xxl">XXL</mat-option>
				<mat-option value="xxxl">XXXL</mat-option>
			</mat-select>
	</mat-form-field>


<mat-form-field appearance="fill">
	<mat-label>Color</mat-label>
	<input matInput type="text" formControlName="color">
</mat-form-field>


<mat-form-field appearance="fill">
	<mat-label>Sex</mat-label>
		<mat-select	formControlName="sex">
			<mat-option value="" mat-selected="mat-selected">Any sex</mat-option>
			<mat-option value="male">Male</mat-option>
			<mat-option value="female">Female</mat-option>
		</mat-select>
</mat-form-field>


<mat-form-field appearance="fill">
	<mat-label>Lowest price</mat-label>
	<input matInput type="text" formControlName="lowestPrice">
</mat-form-field>


<mat-form-field appearance="fill">
	<mat-label>Highest price</mat-label>
	<input matInput type="text" formControlName="highestPrice">
</mat-form-field>


<button type="submit" mat-raised-button color="accent" (click)="onClick()" >Search</button>

</form>

</div>

<hr>

<div class="list">
	<div class="list__row" >
		<template #productPreview></template>
	</div>
</div>
<mat-paginator #paginator
               [length]="pageLength"
              [pageSize]="pageSize"
               (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>




