.toolbar {
  display: flex;
  align-items: center;

}

.toolbar .spacer{
  flex: 1 1 auto;
}

.toolbar a {
  color: inherit;
  text-decoration: none;
}

.toolbar .toolbar__social .social {
  margin: 0 5px;
}
