<mat-toolbar class="toolbar" color="primary">
  <a routerLink="/">Magic Shop<sup>©</sup> 2021</a>
  <div class="spacer"></div>
  <div class="toolbar__social">
    <a href="#" class="social"><mat-icon>facebook</mat-icon></a>
    <a href="#" class="social"><mat-icon>public</mat-icon></a>
    <a href="#" class="social"><mat-icon>emoji_emotions</mat-icon></a>
  </div>
</mat-toolbar>
