
<form [formGroup]="PanelEditionForm" (ngSubmit)="onSubmit()">
	<label>
		Name:
		<input type="text"  formControlName="name">
	</label>
	<br>
	<label>
		Surname:
		<input type="text"  formControlName="surname">
	</label>
	<br>
	<label>
		Adress:
		<input type="text"  formControlName="adress">
	</label>
	<br>
	<label>
		Phone Number:
		<input type="text"  formControlName="phone_number">
	</label>
	<br>
	<label>
		E-mail:
		<input type="text"  formControlName="e_mail">
	</label>
	<br>
	<label>
		Method of the payment:
		<select  formControlName="payment_method">
			<option>Choose a payment method</option>
			<option>Credit Card</option>
			<option>Bank Transfer</option>
			<option>Blik</option>
		
		</select>

	</label>
	<br>
	<button type="submit">Submit</button>
</form>
