<p>Edition panel</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>TextDescription</th>
      <th>Color</th>
      <th>Season</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <td><input type="text" value="{{product.name}}" [(ngModel)]="product.name"/></td>
      <td><input type="number" value="{{product.price}}" [(ngModel)]="product.price"/></td>
      <td><input type="number" value="{{product.quantity}}" [(ngModel)]="product.quantity"/></td>
      <td><input type="text" value="{{product.textDescription}}" [(ngModel)]="product.textDescription"/></td>
      <td><input type="color" value="{{product.color}}" [(ngModel)]="product.color"/></td>
      <td><input type="text" value="{{product.season}}" [(ngModel)]="product.season"/></td>
      <td><button (click)="updateProduct(product)">Update</button></td>
      <td><button (click)="deleteProduct(product)">Delete</button></td>
    </tr>
  </tbody>
</table>
